# Configuración de conexión a Base de Datos (necesarios para ./mysql-backup.sh)

# Host del servidor MySQL/MariaDB de origen
DB_HOST=
# Puerto del servidor MySQL/MariaDB de origen
DB_PORT=
# Nombre de la base de datos de origen
DB_NAME=
# Usuario de la base de datos de origen
DB_USER=
# Contraseña del usuario de la base de datos de origen
DB_PASS=


# Configuración a Nueva Base de Datos Restaurada (recomendado para ./mysql-restore-docker.sh)


# Imagen Docker a utilizar (ej: mysql:8.0, mariadb:10.6). Si está vacío, se detecta desde la cabecera del backup; si no es posible, mysql:8.0
DOCKER_IMAGE=

# Puerto donde MySQL/MariaDB escucha dentro del contenedor (normalmente 3306)
DOCKER_LISTEN_PORT=

# Puerto del host por el que se expone el contenedor (si está vacío, se asigna automáticamente desde 3307), al que hay que conectarse
DOCKER_HOST_PORT=

# Contraseña del usuario root dentro del contenedor restaurado
DOCKER_ROOT_PASSWORD=

# Usuario con el que se restaurará el backup y se conectará a la nueva BBDD
DOCKER_RESTORE_USER=

# Contraseña del usuario de restauración
DOCKER_RESTORE_PASS=

# Nombre del contenedor Docker (si está vacío, se genera automáticamente)
DOCKER_CONTAINER_NAME=
